@model MoviesReviewer.Models.Review

@{
    ViewData["Title"] = "Opinia - podgląd";
}

<h1>Szczegóły opinii</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Movie.Title) (@Html.DisplayFor(model => model.Movie.Year))</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj opinię</a> |
    <a asp-action="My">Wróć do listy opinii</a>
</div>
