@model IEnumerable<MoviesReviewer.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    <form asp-controller="Reviews" asp-action="Edit" asp-route-id="@item.Id" method="get">
                        <input type="submit" value="EDYTUJ" class="btn btn-warning" />
                    </form>
                </td>
                <td>
                    <form asp-controller="Reviews" asp-action="Details" asp-route-id="@item.Id" method="get">
                        <input type="submit" value="PODGLĄD" class="btn btn-primary" />
                    </form>
                </td>
                <td>
                    <form asp-controller="Reviews" asp-action="Delete" asp-route-id="@item.Id" method="get">
                        <input type="submit" value="USUŃ" class="btn btn-danger" />
                    </form>
                    <!-- <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
                </td>
            </tr>
        }
    </tbody>
</table>
