@model IEnumerable<MoviesReviewer.Models.Preference>

@{
    ViewData["Title"] = "Moje filmy";
}

<h1>Moje Filmy</h1>
<p>
    <a asp-action="Create" asp-controller="Movies">Dodaj nowy film do publicznej bazy</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @GetDisplayName(item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
                <td>
                    <form asp-controller="Preferences" asp-action="Edit" asp-route-id="@item.Id" method="get">
                        <input type="submit" value="EDYTUJ" class="btn btn-warning" />
                    </form>
                </td>
                <td>
                    <form asp-controller="Preferences" asp-action="Details" asp-route-id="@item.Id" method="get">
                        <input type="submit" value="PODGLĄD" class="btn btn-primary" />
                    </form>
                </td>
                <td>
                    <form asp-controller="Preferences" asp-action="Delete" asp-route-id="@item.Id" method="get">
                        <input type="submit" value="USUŃ" class="btn btn-danger" />
                    </form>
                </td>
                <td>
                    @if (item.Type == MoviesReviewer.Enums.PreferenceType.WATCHED)
                    {
                        <form asp-controller="Reviews" asp-action="Create" method="get">
                            <input type="hidden" name="mov" value="@item.MovieId" />
                            <input type="submit" value="OCEŃ FILM" class="btn btn-success" />
                        </form>
                    }
                </td>
            </tr>
}
    </tbody>
</table>

@functions {
    public string GetDisplayName(string preferenceType)
    {
        return preferenceType == MoviesReviewer.Enums.PreferenceType.WATCHED
            ? "OBEJRZANY"
            : "DO OBEJRZENIA";
    }
}